<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/javascript.js"></script>

    </head>
    <style>
        .btn-primary {
    color: #fff;
    background-color: #233a52;
    border-color: #233a52;
}
    </style>
    <body>
        <ul style="height: 50px; width: 100%;" class="navbar-default">
            <li class="navbar-logo" onclick="toggleSideNav()">
            </li>
            <li>
                 <a class="navbar-header" style="float: left; margin: 20px;" href="{{url_for('index')}}">TPC PORTAL</a>
                

            </li>
            <h6 style="color: white; margin: 20px; margin-left: 800px;"> Hello {{ data[1] }}, {{data[0]}} </h6>
        </ul>
        
       <section id="resume_1">
           <div class="container">
                <div class="resume_1">
                        <div class="col-md-3" style="float: left;">
                          <h4>ABOUT ME</h4>
                        </div>
                        <div class="col-md-12" style="margin-top: 20px;float: right">
                        <h6 name="student_id"> Student ID: {{ data[0] }}</h4>
                        <h6 id="uname"> Name: {{ data[1] }}</h6>
                        <p style="text-align: justify" id="uabout">{{ data[7] }}</p>
                    
                    </div>
                        <div class="col-md-9" style="border-top: rgb(130, 146, 238) solid 1px;margin-top: 25px;float: right"></div>
                        
                        <div class="col-md-12" style="margin-top: 25px">
                            <div style="margin-bottom: 50px">
                            <div class="col-md-4" style="float: left;">
                                <span style="padding: 12px;font-weight: 600" id="udob"></span>
                            </div>
                            <div class="col-md-8" style="float: left;">
                                <span style="padding: 12px;font-weight: 600" id="uphnum"></span>
                            </div>
                        </div>
                            <div>
                            <div class="col-md-4" style="float: left;">
                                <span style="padding: 12px;font-weight: 600" id="ulocation"></span>
                            </div>
                            <div class="col-md-8" style="float: left;">
                                <span style="padding: 12px;font-weight: 600" id="uemail"></span>
                            </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 20px;padding: 10px">
                            <h5>Career Objectives</h5>
                            <p style="text-align: justify" id="ucareerobject">{{data[8]}}</p>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12" style="margin-top: 20px;padding: 10px">
                                <h5>Education</h5>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Course</th>
                                            <th>College</th>
                                            <th>Year</th>
                                            <th>CGPA</th>
                                        </tr>
                                    </thead>
                                    <tbody id="education_data">
                                        {% for i in info %}
                                        <tr>
                                            <td>{{i[2]}}</td>
                                            <td>{{i[3]}}</td>
                                            <td>{{i[5]}}</td>
                                            <td>{{i[6]}}</td>
                                            </tr>
                                            {% endfor %}
                                        
                                    </tbody>
                                    </table>
                               
                            </div>    
                        </div>    
                            
                        <div class="col-md-12" style="width: 100%;margin-top: 12px">
                            <span style="padding: 12px;color: #000; font-weight: 600;">SKILLS</span>
                            <ul>
                                {% for skill in skills %}
                                    <li style="color: #000;">{{ skill[0] }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-4" style="float: left;margin-top: 20px" >
                            <span style="padding: 12px;font-weight: 600">PERSONAL DETAILS</span>
                        </div>
                        <div class="col-md-8" style="float: left;margin-top: 20px">
                            <h6>Father's Name:  {{ pdetails[0][2] }}</h6>
                            <h6>Mother's Name: {{ pdetails[0][3] }}</h6>
                            <h6>Address: {{ pdetails[0][4] }}</h6>           
                        </div>
                  </div>
                </div>
            </div>
       </section>

       <div id="popup1" class="overlay">
            <div class="popup">
                <div class="container">
                   
                    <a class="close" href="#">&times;</a>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>PERSONAL INFORMATION</h5>
                        </div>
                    </div>

                    <form class="needs-validation" novalidate action="/add_data" method="POST">
                        <div class="form-row form-group">
                            <div class="col-md-4">
                                <label for="name">Full name</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="Full name" required>
                               <div class="invalid-feedback">Enter your Full name.</div>
                            </div>
                            
                            <div class="col-md-4">
                                <label for="dob">Date Of Birth</label>
                                <input type="date" name="dob" class="form-control" id="dob" placeholder="enter your dob" required>
                                <div class="invalid-feedback"> Enter your date of birth.</div>
                            </div> 
                            <div class="col-md-4">
                                <label for="email">Email Address</label>
                                <input type="text" name="email" class="form-control" id="email" placeholder="enter your email"  required>
                                <div class="invalid-feedback"> Enter your email address.</div>
                            </div> 
                            <div class="col-md-4">
                                <label for="phnum">Phone number</label>
                                <input type="text" name="phnum" class="form-control" id="phnum" placeholder="enter your phone number"  required>
                                <div class="invalid-feedback"> Enter your phone number.</div>
                            </div> 
                            <div class="col-md-4">
                                <label for="city">City</label>
                                <input name="city" type="text" class="form-control" id="city" placeholder="enter your city."  required>
                                <div class="invalid-feedback"> Enter your city.</div>
                            </div>  
                            <div class="col-md-4">
                                <label for="city">State</label>
                                <input name="state" type="text" class="form-control" id="state" placeholder="enter your state."  required>
                                <div class="invalid-feedback"> Enter your state.</div>
                            </div> 
                            <div class="col-md-12">
                                <label for="ucareerob">Career Objective</label>
                                <textarea rows="5" name="ucareerob"  class="form-control" id="ucareerob" placeholder="enter your Career Objectives."  required></textarea>
                                <div class="invalid-feedback"> Enter your career Objective.</div>
                            </div>
                            <div class="col-md-12">
                                    <label for="uaboutself">About your Self</label>
                                    <textarea name="uaboutself" rows="5"  class="form-control" id="uaboutself" placeholder="enter about your self"  ></textarea>
                                    <div class="invalid-feedback"> Enter about you.</div>
                                </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>EDUCATION DETAILS</h5>

                            </div>
                            <form action="/add_education" method="POST">
                            <div class="col-md-6">
                                <label for="city">Course / Graduation</label>
                                <input name="course" type="text" class="form-control" id="course" placeholder="Enter your course name."  >
                            </div>  
                            <div class="col-md-6">
                                <label for="cpi">CPI</label>
                                <input type="text" name="cpi" class="form-control" id="course" placeholder="Enter your CPI."  >
                            </div>  
                            <div class="col-md-6">
                                <label for="city">College / Institute</label>
                                <input type="text" class="form-control" id="college" placeholder="Enter your college name."  >
                                <div style="color: red;display: none" id="col_err"> **enter College.</div>
                            </div> 
                            <div class="col-md-4">
                                <label for="city">Graduated Month</label>
                                <select class="form-control" id="month"> 
                                        <option>Please select One..</option>
                                        <option>January</option>
                                        <option>February</option>
                                        <option>March</option>
                                        <option>April</option>
                                        <option>May</option>
                                        <option>June</option>
                                        <option>July</option>
                                        <option>August</option>
                                        <option>September</option>
                                        <option>October</option>
                                        <option>November</option>
                                        <option>December</option>
                                </select>
                                <div style="color: red;display: none" id="select_month_err"> **select the month.</div>
                            </div> 
                            <div class="col-md-4">
                                <label for="city">Graduated Year</label>
                                <input type="number" min="1990" max="2060" class="form-control" id="year" placeholder="Enter year."  >
                                <div style="color: red;display: none" id="year_err"> **enter valid year.</div>
                            </div> 
                            <div class="col-md-2">
                                <label></label>
                              
                                <input type="submit" value="Add data" style="width: 100%;margin-top: 8px"  class="btn">
                              
                            </div> 
                        </form>
                        <form action="/delete_education" method="POST">
                            <div class="col-md-2">
                                <label></label>
                                <input type="button" value="Delete data" style="width: 100%;margin-top: 8px"  class="btn" onclick="myDeleteFunction()">
                            </div> 
                        </form>
                            <div class="col-md-12" style="padding: 20px;">
                                <table id="education_data" style="width: 100%;margin-top: 12px">
                                   
                                </table>
                            </div>  
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                    <h5>ACHIEVEMENTS</h5>
                            </div>
                            <div class="col-md-6">
                                <label for="achivement">Achievements</label>
                                <textarea rows="4"  class="form-control" id="achivement" placeholder="enter your achievement.."  ></textarea>
                                <div style="color: red;display: none" id="achivement_err">**enter achievement.</div>
                                <div style="color: rgb(90, 206, 67);display: none" id="achivements">**Entered achievement successfully.</div>
                            </div>  
                            <div class="col-md-3">
                                <label></label>
                                <input type="button" value="Add achievement" style="width: 100%;margin-top: 8px"  class="btn" onclick="addache()">
                            </div>
                            <div class="col-md-3">
                                <label></label>
                                <input type="button" value="Delete achievement" style="width: 100%;margin-top: 8px"  class="btn" onclick="achivementDeleteFunction()">
                            </div>  
                            <div class="col-md-12" style="padding: 20px;">
                                <table id="acheivement_data" style="width: 100%;margin-top: 12px">
                                </table>
                            </div>  
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                        <h5>SKILLS</h5>
                                </div>
                                <div class="col-md-6">
                                     <label for="skills">Skills </label>
                                    <textarea rows="4"  class="form-control" id="skills" placeholder="enter your achievement.." ></textarea>
                                    <div style="color: red;display: none" id="skills_err">**enter your skills.</div>
                                </div>  
                                <div class="col-md-3">
                                    <label></label>
                                     <input type="button" value="Add skills" style="width: 100%;margin-top: 8px"  class="btn" onclick="addskills()">
                                </div>
                                <div class="col-md-3">
                                    <label></label>
                                    <input type="button" value="Delete skills" style="width: 100%;margin-top: 8px"  class="btn" onclick="skillsDeleteFunction()">
                                </div>  
                                <div class="col-md-12" style="padding: 20px;">
                                    <table id="skill_data" style="width: 100%;margin-top: 12px">
                                    </table>
                                </div>  
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h5>PERSONAL DETAILS</h5>
                                </div>
                                    
                            </div>
                            <div class="form-row form-group">
                                <div class="col-md-4">
                                    <label for="fname">Father's Name</label>
                                    <input type="text" class="form-control" id="fname" placeholder="enter your father's name" required>
                                    <div class="invalid-feedback"> Enter your Full name.</div>
                                </div>   
                                <div class="col-md-4">
                                    <label for="mname">Mother's Name</label>
                                    <input type="text" class="form-control" id="mname" placeholder="enter your Mother's name" required>
                                    <div class="invalid-feedback"> Enter your date of birth.</div>
                                </div> 
                                <div class="col-md-12">
                                    <label for="paddress">Permanent Address</label>
                                    <textarea rows="4"  class="form-control" id="paddress" placeholder="enter your address.."  required></textarea>
                                    <div class="invalid-feedback">**enter address.</div>
                                 </div>
                            </div>

                            <div style="margin-bottom: 20px;">
                                <button class="btn btn-primary" type="submit" >Submit form</button>
                                <a href="#" class="btn btn-danger">Cancel</a>
                            </div>

                    </form>
                </div>
            </div>
        </div>
        <header style="margin: 50px;" class="h_color" id="head">
            <div class="text-left">
                <div style="margin: 50px;"class="container">
                   
                </div>
            </div>
        </header>



    <script src="../static/jquery-2.1.3.js"></script>
    <script src="../static/my.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                if (form.checkValidity() !== false) {
                    setdata();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

        function setdata(){
            document.getElementById('uname').innerText = document.getElementById('name').value;
            document.getElementById('name_declaration').innerText = document.getElementById('name').value;
            document.getElementById('n_declaration').innerText = document.getElementById('name').value;

            
            document.getElementById('udob').innerText = document.getElementById('dob').value;
            document.getElementById('uphnum').innerText = document.getElementById('phnum').value;
            document.getElementById('uemail').innerText = document.getElementById('email').value;
            document.getElementById('ulocation').innerText = document.getElementById('city').value +", "+ document.getElementById('state').value;
            document.getElementById('dec_place').innerText = document.getElementById('city').value +", "+ document.getElementById('state').value;

            document.getElementById('uabout').innerText = document.getElementById('uaboutself').value;
            document.getElementById('ucareerobject').innerText = document.getElementById('ucareerob').value;

            document.getElementById('fathername').innerHTML = "Father's Name  <span style='margin-left:20px'></span>"+ ":" + document.getElementById('fname').value;
            document.getElementById('mothername').innerHTML = "Mother's Name   <span style='margin-left:20px'></span>"+":" + document.getElementById('mname').value;
            document.getElementById('permanentaddress').innerHTML = "Permanent Address    <span style='margin-left:20px'></span>"+":"+ document.getElementById('paddress').value;

            var myTab = document.getElementById('education_data');

            document.getElementById('education_data_table').innerHTML="";
            // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
            for (i = 0; i < myTab.rows.length; i++) {
                // GET THE CELLS COLLECTION OF THE CURRENT ROW.
                  var objCells = myTab.rows.item(i).cells;
                // LOOP THROUGH EACH CELL OF THE CURENT ROW TO READ CELL VALUES.
                data = "<tr><td><span style='font-weight: 600;font-size: 20px'>"+
                        objCells.item(0).innerHTML
                        +"</span> <br>"+objCells.item(1).innerHTML+"</td>"+
                        "<td>Graduated, "+objCells.item(2).innerHTML +" "+objCells.item(3).innerHTML+"</td></tr>";
               document.getElementById('education_data_table').innerHTML = document.getElementById('education_data_table').innerHTML + data;
            }

            var myTab = document.getElementById('acheivement_data');

            document.getElementById('achivements_data_li').innerHTML="";
            // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
            for (i = 0; i < myTab.rows.length; i++) {
                var objCells = myTab.rows.item(i).cells;                
                data = "<li style='font-size:18px;margin-bottom: 5px'>"+
                objCells.item(0).innerHTML + "</li>";
                document.getElementById('achivements_data_li').innerHTML = document.getElementById('achivements_data_li').innerHTML + data;
            }

            var myTab = document.getElementById('skill_data');

            document.getElementById('skills_data_li').innerHTML="";
            for (i = 0; i < myTab.rows.length; i++) {
                var objCells = myTab.rows.item(i).cells;                
                data = "<li style='font-size:18px;margin-bottom: 5px'>"+
                        objCells.item(0).innerHTML + "</li>";
            document.getElementById('skills_data_li').innerHTML = document.getElementById('skills_data_li').innerHTML + data;
            }
            
        }


        function printDiv() 
            {
               $("#head").hide();
               window.print();
               $("#head").show();
            }

    
        function achivementDeleteFunction() {
            document.getElementById("acheivement_data").deleteRow(0);
        }

        function addskills(){
            if(document.getElementById('skills').value==""){
                document.getElementById('skills_err').style.display="";
            }
            else{
                var table = document.getElementById("skill_data");
                var row = table.insertRow(0);
                var cell1 = row.insertCell(0);
                cell1.innerHTML = document.getElementById('skills').value;
                }
        }
        function skillsDeleteFunction() {
            document.getElementById("skill_data").deleteRow(0);
        }

        function myDeleteFunction() {
            document.getElementById("education_data").deleteRow(0);
        }
    

    function fetchData() {
        // Fetch education data from the server and update the table
        fetch('/get_education_data', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            // Update the table with the fetched data
            var table = document.getElementById('education_data');
            table.innerHTML = ''; // Clear the existing table data
            for (var i = 0; i < data.length; i++) {
                var row = table.insertRow();
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);

                cell1.innerHTML = data[i].course_name;
                cell2.innerHTML = data[i].cpi;
                cell3.innerHTML = data[i].college_name;
                cell4.innerHTML = data[i].graduation_month + ' ' + data[i].graduation_year;
                cell5.innerHTML = '<button onclick="deleteCourse(' + data[i].education_id + ')">Delete</button>';
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function deleteCourse(educationId) {
        // Send a DELETE request to the server to delete the education data
        fetch('/delete_education/' + educationId, {
            method: 'DELETE'
        })
        .then(response => response.text())
        .then(result => {
            console.log(result);
            fetchData();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    document.addEventListener('DOMContentLoaded', function() {
        fetchData();
    });
    </script>
    </body>
</html>
